/* Move down content because we have a fixed navbar that is 3.5rem tall */
body
{
  padding-top: 3.5rem;
  /*	background-image: url('auto.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-size: 70% 70%;*/
}
